@import '../partials/variables';

.container main {
  padding: 5.4rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 5rem;
    color: $color-white;
  }

  .generatorContainer {
    width: 100%;

    @media (max-width: 680px) {
      padding: 0 2.4rem;
    }
  }

  .downloadContainer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 5rem;
  }

  textarea {
    width: 100%;
    max-width: 42rem;
    height: 16rem;
    padding: 1.6rem;
    border: 1px solid rgba($color-white, 0.3);
    border-radius: $border-radius;

    color: $color-white;
    font-size: 1.8rem;

    outline: none;
    resize: none;

    transition: box-shadow $transition-duration-fast;
    background: linear-gradient(
      0deg,
      rgba(44, 169, 135, 0.3) 0%,
      rgba(44, 169, 135, 0.3) 100%
    );

    &::placeholder {
      color: rgba($color-white, 0.6);
    }

    &:focus {
      border-color: rgba($color-green, 0.8);
      box-shadow: 0px 0px 0px 2px rgba($color-green, 0.3);
    }
  }
}

.generatorContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  > * + * {
    margin-left: 3.2rem;

    @media (max-width: 730px) {
      margin-left: 1.6rem;
    }

    @media (max-width: 680px) {
      margin-left: 0;
      margin-top: 1.6rem;
    }
  }

  .qrCode {
    width: 16rem !important;
    height: 16rem !important;
    padding: 1rem;
    border-radius: $border-radius;

    background-color: $color-white;
  }

  @media (max-width: 680px) {
    flex-direction: column;

    svg:not(.qrCode) {
      transform: rotate(90deg);
    }
  }
}

.downloader {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0.5rem;
  align-items: center;
}

.copier {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0.5rem;
  align-items: center;

  margin-left: 2rem;

  .copyFrame:hover {
    color: $color-black;
  }
}
