@import './partials/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: $color-black;
}

body,
button,
input,
textarea,
select {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.6rem;
}
