.container {
  padding: 1.2rem 2.4rem;
  border-radius: 0.6rem;

  font-size: 1.8rem;
  font-weight: 700;

  cursor: pointer;

  &.primary {
    border: none;
    color: var(--color-black);
    background-color: var(--color-white);

    transition: background-color 0.2s;

    &:hover {
      background-color: var(--color-green);
    }
  }

  &.secondary {
    padding: calc(1.2rem - 2px) calc(2.4rem - 2px);
    border: 2px solid var(--color-white);

    color: var(--color-white);
    background-color: transparent;
    transition: border-color 0.2s, color 0.2s, background-color 0.2s;

    &:hover {
      border-color: var(--color-green);
      color: var(--color-black);
      background-color: var(--color-green);
    }
  }
}
