@import '../../partials/variables';

.container {
  padding: 1.2rem 2.4rem;
  border-radius: $border-radius;

  font-size: 1.8rem;
  font-weight: 700;

  cursor: pointer;

  &.primary {
    border: none;
    color: $color-black;
    background-color: $color-white;

    transition: background-color $transition-duration;

    &:hover {
      background-color: $color-green;
    }
  }

  &.secondary {
    padding: calc(1.2rem - 2px) calc(2.4rem - 2px);
    border: 2px solid $color-white;

    color: $color-white;
    background-color: transparent;
    transition: border-color $transition-duration, color $transition-duration,
      background-color $transition-duration;

    &:hover {
      color: $color-black;
      border-color: $color-green;
      background-color: $color-green;
    }
  }
}
