@import '../../partials/variables';

.container {
  padding: 1.4rem 1.8rem;

  display: flex;
  align-items: center;
  justify-self: center;

  opacity: 0.9;

  span,
  a {
    color: $color-white;
    font-size: 1.6rem;
  }

  .separator {
    margin: 0 0.5rem;
  }

  a {
    display: flex;
    align-items: center;

    text-decoration: none;
    transition: color $transition-duration;

    &:hover {
      color: $color-green;

      svg {
        color: $color-green;
      }
    }

    svg {
      margin-right: 0.4rem;
    }
  }
}
